<footer>
    <a href='{{ base_url }}' class="item logo">PLATFORM LABOR</a>
    <a href="{{ base_url }}/blog" class="item {% if 'blog' in page.url %}active{% endif %}">Blog</a>
    <a href="{{ base_url }}/feed" class="item {% if 'feed' in page.url %}active{% endif %}">Feed</a>
    <a href="{{ base_url }}/announcements" class="item {% if 'announcements' in page.url %}active{% endif %}">Announcements</a>
    <a href="{{ base_url }}/output" class="item {% if 'output' in page.url %}active{% endif %}">Output</a>
    <a href="{{ base_url }}/profiles" class="item {% if 'profiles' in page.url %}active{% endif %}">Profiles</a>
    <a href="{{ base_url }}/about" class="item {% if 'about' in page.url %}active{% endif %}">About</a>
</footer>
