<footer>
    <a href='{{ base_url }}' class="item logo">PLATFORM LABOR</a>
    <a href="{{ base_url }}/blog" class="item {{ page.slug == 'notes' ? 'active' }}">Blog</a>
    <a href="{{ base_url }}/feed" class="item {{ page.slug == 'feed' ? 'active' }}">Feed</a>
    <a href="{{ base_url }}/announcements" class="item {{ page.slug == 'announcements' ? 'active' }}">Announcements</a>
    <a href="{{ base_url }}/output" class="item {{ page.slug == 'output' ? 'active' }}">Output</a>
    <a href="{{ base_url }}/profiles" class="item {{ page.slug == 'profiles' ? 'active' }}">Profiles</a>
    <a href="{{ base_url }}/about" class="item {{ page.slug == 'about' ? 'active' }}">About</a>
</footer>
