<footer>
    <a href='{{ base_url }}' class="footer--item footer--logo">PLATFORM LABOR</a>
    <a href="{{ base_url }}/blog" class="footer--item footer--item--desktop {{ page.slug == 'notes' ? 'footer--item__active' }}">Blog</a>
    <a href="{{ base_url }}/feed" class="footer--item footer--item--desktop {{ page.slug == 'feed' ? 'footer--item__active' }}">Feed</a>
    <a href="{{ base_url }}/announcements" class="footer--item footer--item--desktop {{ page.slug == 'announcements' ? 'footer--item__active' }}">Announcements</a>
    <a href="{{ base_url }}/output" class="footer--item footer--item--desktop {{ page.slug == 'output' ? 'footer--item__active' }}">Output</a>
    <a href="{{ base_url }}/profiles" class="footer--item footer--item--desktop {{ page.slug == 'profiles' ? 'footer--item__active' }}">Profiles</a>
    <a href="{{ base_url }}/about" class="footer--item footer--item--desktop {{ page.slug == 'about' ? 'footer--item__active' }}">About</a>
</footer>
