{% extends 'global/base.html.twig' %}

{% if uri.param('view') %}
    {% set view = uri.param('view') %}
{% endif %}

{% block content %}
    <div class="publications">

        {# LISTBAR #}
        {% include 'navigation/listbar.html.twig' %}

        {# COMPACT #}
        {% if view == 'compact' %}

            {% for p in page.children.order('date', 'desc') %}
                <div class='item compact'>

                    {# TEXT :: COMPACT #}
                    <div class='text'>

                        {# META :: COMPACT #}
                        <div class='meta'>
                            {# DATE :: COMPACT #}
                            {% if p.header.forthcoming %}
                                <div class='date'>Forthcoming</div>
                            {% else %}
                                <div class='date'>{{ p.header.publication_date|date('Y-m-d') }}</div>
                            {% endif %}

                            {# AUTHOR :: COMPACT #}
                            {% if p.header.author %}
                                <div class='author'>{{ page.find(p.header.author).title }}</div>
                            {% endif %}

                            {# PROVIDER :: COMPACT #}
                            <div class='provider'>{{ p.header.publisher}}</div>
                        </div>
                        
                        {# TITLE :: COMPACT #}
                        <h1 class='title'><a href='{{p.header.link}}' target=_blank>{{p.title}}</a></h1>

                        {# TAGS:: COMPACT #}
                        <div class='tags'>
                            {% for tag in p.taxonomy.tag %}
                                <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
                            {% endfor %}
                        </div>

                    </div>
                    
                </div>
            {% endfor %}

        {% else %}

             {% for p in page.children.order('date', 'desc') %}
                <div class='item small'>

                    {# LINK OVERLAY :: SMALL #}
                    <a href='output/{{p.slug}}' class='link'></a>

                    {# TEXT :: SMALL #}
                    <div class='text'>

                        {# META :: SMALL #}
                        <div class='meta'>

                            {# DATE :: SMALL #}
                            {% if p.header.forthcoming %}
                                <div class='date'>Forthcoming</div>
                            {% else %}
                                <div class='date'>{{ p.header.publication_date|date('Y-m-d') }}</div>
                            {% endif %}

                            {# AUTHORS :: SMALL #}
                            {% if p.header.authors is iterable %}
                                {% for author in p.header.authors %}
                                    {% if author.external %}
                                        <div class='author'>{{ author.external }}</div>
                                    {% elseif author.internal %}
                                        <div class='author'>{{ page.find(author.internal).title }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {# PROVIDER :: SMALL #}
                            <div class='provider'>{{ p.header.publisher }}</div>
                        </div>
                        
                        {# TITLE :: SMALL #}
                        <div class='title-container'>
                            <h1 class='title'>{{p.title}}</h1>
                        </div>

                        {# DESCRIPTION :: SMALL #}
                        {% if p.header.description %}
                            <div class='description'>
                                <div class='inner'>{{p.header.description|truncate(240, true)}}</div>
                                <div class='inner-full'>{{p.header.description}}</div>
                            </div>
                        {% endif %}

                        {# LINKS :: SMALL #}
                        <div>

                            {# EXTERNAL LINK :: SMALL #}
                            {% if p.header.link %}
                                <a href='{{p.header.link}}' target=_blank class='exit'>
                                Go to {{ p.header.publisher }}
                                <svg xmlns="http://www.w3.org/2000/svg" class='icon' width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                </a>
                            {% endif %}

                            {# PDF DOWNLOAD :: SMALL #}
                            {% if p.header.pdf %}
                                <a href='output/{{p.slug}}/{{p.header.pdf}}' target=_blank class='pdf'>
                                Open pdf
                                <svg xmlns="http://www.w3.org/2000/svg" class='icon' width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                                </a>
                            {% endif %}
                        </div>

                    </div>

                    {# IMAGE :: SMALL #}
                    <div class='image'>
                        {{ p.media[p.header.featured_image].cropResize(200, 200).html('', p.title|escape)}}
                    </div> 

                    {# TAGS :: SMALL #}
                    <div class='tags'>
                        {% for tag in p.taxonomy.tag %}
                            <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
                        {% endfor %}
                    </div>

                </div>
            {% endfor %}

        {% endif %}

    </div>

{% endblock %}
