{% extends 'global/base.html.twig' %}

{% block content %}
<div class="profiles">

    {% for p in page.collection %}
        <div class='profiles--item__list'>

            <a href='{{p.url}}' class='profiles--item__list--link'></a>

            <div class='profiles--item__list--category'>{{p.header.category}}</div>

            <div class='profiles--item__list--quote'>“{{p.header.quote}}”<div class='credit'>– {{p.title}}</div></div>

            <div class='profiles--item__list--image'>
                {{ p.media[p.header.featured_image].html('', p.title|escape)}}
            </div> 
            
        </div>
    {% endfor %}

</div>
{% endblock %}
