{% extends 'global/base.html.twig' %}

{% block content %}

{# Construct Query object #}
{% set query = {} %}
{% if uri.param('tag') %}
    {% set query = uri.param('tag')|split('&') %}
{% endif %}
            
<div class="filter">
    <div class='header-container'>
        <div class='header'>Tag: {{query|join(',')}} ({{ taxonomy.findTaxonomy({tag: query})|length }})</div>
    </div>

    {# LIST #}
    {% for p in taxonomy.findTaxonomy({tag: query}) %}
        <div href='{{p.url}}' class='item small'>

            <a href='{{p.url}}' class='link'></a>

            <div class='text'>

                {# Meta #}
                <div class='meta'>

                    {# Date #}
                    <div class='date'>{{ p.date|date('Y-m-d') }}</div>
                    
                    {# Author #}
                    {% if p.header.author %}
                        {% for author in p.header.author %}
                            <div class='author'>{{ page.find(author).title }}</div>
                        {% endfor %}
                    {% endif %}

                    {# Provider #}
                    {% if p.header.provider_name %}
                        <div class='provider'>{{ p.header.provider_name }}</div>
                    {% endif %}

                </div>
                
                {# Title #}
                <h1 class='title'>{{p.title}}</h1>

            </div>

            <div class='image'>
                {% if p.template == 'single-feed' %}
                    {% if p.header.featured_image %}
                        {{ p.media[p.header.featured_image].cropZoom(200, 200).html('', p.title|escape)}}
                    {% else %}
                        <img src='{{ p.header.external_image }}'>
                    {% endif %}
                {% else %}
                    {{ p.media[p.header.featured_image].cropZoom(200, 200).html('', p.title|escape)}}
                {% endif %}
            </div>   

            {# Tags #}
            <div class='tags'>
                {% for tag in p.taxonomy.tag %}
                    <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
            
        </div>
    {% endfor %}
</div>


{% endblock %}

