{% extends 'global/base.html.twig' %}

{% block content %}
<div id='landing' class="landing">

    {# ABOUT #}
    <div class='item about active'>

        {% set about = page.find('/about') %}

        {# TEXT :: ABOUT #}
        <p>{{ about.header.short }}</p>
        
        {# NEWSLETTER :: ABOUT #}
        <a href='{{base_url}}/email-notification-form' class='button'>
            <span>Sign up for updates</span>
            <div class='arrow right'>
                <div class='line'></div>
                <div class='point'></div>
            </div>
        </a>

        {# MORE :: ABOUT #}
        <a href='{{base_url}}/about' class='button'>
            <span>More about the project</span>
            <div class='arrow right'>
                <div class='line'></div>
                <div class='point'></div>
            </div>
        </a>
    </div> 
    

    {# NEWS #}        
    {% set latestNews = page.find('/announcements').collection.first %}
    <div class='item third spaced announcements-order'>

        {# LINK OVERLAY :: NEWS #}
        <a class='link' href='{{latestNews.url}}'></a>


        {# TEXT :: NEWS #}
        <div class='text'>

            {# HEADER :: NEWS  #}
            <div class='header'>
                <div class='section'>Announcements</div>
                <div class='date'>{{ latestNews.date|date('Y-m-d') }}</div>
            </div>

            {# META :: NEWS #}
            <div class='meta'>
                {# DATE :: NEWS #}
                {# <div class='date'>{{ latestNews.date|date('Y-m-d') }}</div> #}
            </div>
            
            {# TITLE :: NEWS #}
            <h1 class='title'>{{ latestNews.title }}</h1>

        </div>

        {# IMAGE :: NEWS #}
        <div class='image'>
            {{ latestNews.media[latestNews.header.featured_image].cropResize(600, 400).html('', latestNews.title|escape)}}
        </div> 

        {# TAGS :: NEWS #}
        <div class='tags'>
            {% for tag in latestNews.taxonomy.tag %}
                <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>
        
    </div>

    {# NOTE #}
    {% set latestNote = page.find('/blog').collection.first %}
    <div  class='item third spaced blog-order'>

        {# LINK OVERLAY :: NOTE #}
        <a href='{{latestNote.url}}' class='link'></a>

        {# TEXT :: NOTE #}
        <div class='text'>

            {# HEADER :: NOTE #}
            <div class='header'>
                <div class='section'>Blog</div>
                <div class='date'>{{ latestNote.date|date('Y-m-d') }}</div>
            </div>

            {# TITLE :: NOTE #}
            <a href='{{latestNote.url}}' class='title'>{{latestNote.title}}</a>

            {# META :: NOTE #}
            <div class='meta'>
                {# AUTHOR :: NOTE #}
                {% if latestNote.header.author %}
                    <div class='author'>
                        {% for author in latestNote.header.author %}
                            {{ page.find(author).title }}{% if loop.length - loop.index == 1 %} & {% elseif loop.length - loop.index > 1%},{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {# TAGS :: NOTE #}
            <div class='tags'>
                {% for tag in latestNote.taxonomy.tag|slice(0,4) %}
                    <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>

        </div>

        {# IMAGE :: NOTE #}
        {% if latestNote.header.featured_image %}
            <div class='image'>
                {{ latestNote.media[latestNote.header.featured_image].cropResize(600, 400).html('', latestNote.title|escape)}}
            </div>
        {% endif %}
        
    </div>

    {# FEED #}
    {% set latestFeed = page.find('/feed').children.order('date', 'desc').first %}
    <div class='item third feed-order'>

        {# LINK OVERLAY :: FEED #}
        <a class='link' href='{{latestFeed.url}}'></a>

        {# TEXT :: FEED #}
        <div class='text'>

            {# HEADER :: FEED #}
            <div class='header'>
                <div class='section'>Feed</div>
                <div class='date'>{{ latestFeed.date|date('Y-m-d') }}</div>
            </div>

            {# TITLE :: FEED #}
            <h1 class='title'>{{ latestFeed.title }}</h1>

            {# META :: FEED #}
            <div class='meta'>
                {# PROVIDER :: FEED #}
                <div class='provider'>Source: {{ latestFeed.header.provider_name }}</div>
            </div>
            


        </div>

        {# TAGS :: FEED #}
        <div class='tags'>
            {% for tag in latestFeed.taxonomy.tag %}
                <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>

        {# IMAGE :: FEED  #}
        <div class='image'>
            {% if latestFeed.header.featured_image %}
                {{ latestFeed.media[latestFeed.header.featured_image].cropResize(600, 400).html('', p.title|escape)}}
            {% else %}
                <img src='{{ latestFeed.header.external_image }}'>
            {% endif %}
        </div> 

    </div>

    {# MORE NEWS #}
    <div class='item third short more-announcements-order'>
        <a href='{{base_url}}/announcements' class='button'>
            <span>More anouncements</span>
            <div class='arrow right'>
                <div class='line'></div>
                <div class='point'></div>
            </div>
        </a>
    </div>

    {# MORE NOTE #}
    <div class='item third short more-blog-order'>
        <a href='{{base_url}}/blog' class='button'>
            <span>More blog posts</span>
            <div class='arrow right'>
                <div class='line'></div>
                <div class='point'></div>
            </div>
        </a>
    </div>

    {# MORE FEED #}
    <div class='item third short more-feed-order'>
        <a href='{{base_url}}/feed' class='button'>
            <span>More feed</span>
            <div class='arrow right'>
                <div class='line'></div>
                <div class='point'></div>
            </div>
        </a>
    </div>

</div>
{% endblock %}
