{% extends 'global/base.html.twig' %}

{% if uri.param('view') %}
    {% set view = uri.param('view') %}
{% endif %}

{% block content %}
<div class="news">

    {# LISTBAR #}
    {% include 'navigation/listbar.html.twig' %}

    {% if view == 'compact' %}

        {% for p in page.children.order('date', 'desc') %}
            <div class='item compact'>

                {# LINK OVERLAY :: COMPACT #}
                <a href='{{p.url}}' class='link'></a>

                {# TEXT :: COMPACT #}
                <div class='text'>

                    {# META :: COMPACT #}
                    <div class='meta'>
                        {# DATE :: COMPACT #}
                        <div class='date'>{{ p.date|date('Y-m-d') }}</div>
                    </div>
                    
                    {# TITLE :: COMPACT #}
                    <h1 class='title'><a href='{{p.url}}'>{{p.title}}</a></h1>

                    {# TAGY :: COMPACT #}
                    <div class='tags'>
                        {% for tag in p.taxonomy.tag %}
                            <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
                        {% endfor %}
                    </div>

                </div>
                
            </div>
        {% endfor %}

    {% else %}

        {% for p in page.children.order('date', 'desc') %}
            <div class='item small'>

                {# LINK OVERLAY :: SMALL #}
                <a href='{{p.url}}' class='link'></a>

                {# TEXT :: SMALL #}
                <div class='text'>

                    {# META :: SMALL #}
                    <div class='meta'>
                        {# DATE :: SMALL #}
                        <div class='date'>{{ p.date|date('Y-m-d') }}</div>
                    </div>
                    
                    {# TITLE :: SMALL #}
                    <h1 class='title'>{{p.title}}</h1>

                    {# TAGS :: SMALL #}
                    <div class='tags'>
                        {% for tag in p.taxonomy.tag %}
                            <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
                        {% endfor %}
                    </div>

                </div>

                {# IMAGE :: SMALL #}
                <a href='{{p.url}}' class='image'>
                    {{ p.media[p.header.featured_image].cropZoom(200, 200).html('', p.title|escape)}}
                </a>              
                
            </div>
        {% endfor %}
    
    {% endif %}

</div>
{% endblock %}
