{% extends 'global/base.html.twig' %}

{% block content %}
<div class="profiles">

    {% for p in page.collection %}
        <div class='item'>

            <a href='{{p.url}}' class='link'></a>

            <div class='category'>{{p.header.category}}</div>

            <div class='quote'>“{{p.header.quote}}”<div class='credit'>– {{p.title}}</div></div>

            <div class='image'>
                {{ p.media[p.header.featured_image].cropResize(900).html('', p.title|escape)}}
            </div> 
            
        </div>
    {% endfor %}

</div>
{% endblock %}
