{% extends 'global/base.html.twig' %}

{% if uri.param('view') %}
    {% set view = uri.param('view') %}
{% endif %}


{% block content %}
<div class="notes">

    <div id="landing--item__about" class="landing--item__about landing--item__output landing--item__about__active">
        <p>Do you want to contribute or have an idea for a blog post? <a href="mailto:N.A.J.M.vanDoorn@uva.nl">Get in touch!</a></p>
    </div>


    {# Listbar #}
    {% include 'navigation/listbar.html.twig' %}

    {% if view == 'compact' %}

        {% for p in page.collection %}
            <div class='notes--item__compact'>

                <div class='notes--item__compact--text'>

                    {# Meta #}
                    <div class='notes--item__compact--text--meta'>
                        <div class='notes--item__compact--text--meta--date'>{{ p.date|date('Y-m-d') }}</div>
                        {# {% if p.header.author %}
                            {% for author in p.header.author %}
                                <div class='notes--item__compact--text--meta--author'>{{ page.find(author).title }}</div>
                            {% endfor %}
                        {% endif %} #}
                    </div>
                    
                    {# Title #}
                    <h1 class='notes--item__compact--text--title'><a href='{{p.url}}'>{{p.title}}</a></h1>

                    {# Tags #}
                    <div class='notes--item__compact--text--tags'>
                        {% for tag in p.taxonomy.tag %}
                            <a href="{{ base_url }}/filter/tag:{{ tag }}" class="notes--item__compact--text--tags--item">{{ tag }}</a>
                        {% endfor %}
                    </div>

                </div>
                
            </div>
        {% endfor %}

    {% else %}
    
        {# POST 1: FULL #}
        {% set latestNote = page.collection.first %}
        <div  class='notes--item__full'>

            <a href='{{latestNote.url}}' class='notes--item__full--link'></a>

            <div class='notes--item__full--text'>

                {# Meta #}
                <div class='notes--item__full--text--meta'>
                    <div class='notes--item__full--text--meta--date'>{{ latestNote.date|date('Y-m-d') }}</div>

                    {% if latestNote.header.author %}
                        <div class='notes--item__full--text--meta--author'>
                            {% for author in latestNote.header.author %}
                                {{ page.find(author).title }}{% if loop.length - loop.index == 1 %} & {% elseif loop.length - loop.index > 1%},{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {# Title #}
                <a href='{{latestNote.url}}' class='notes--item__full--text--title'>{{latestNote.title}}</a>

                {# Tags #}
                <div class='notes--item__full--text--tags'>
                    {% for tag in latestNote.taxonomy.tag %}
                        <a href="{{ base_url }}/filter/tag:{{ tag }}" class="notes--item__full--text--tags--item">{{ tag }}</a>
                    {% endfor %}
                </div>

            </div>

            {# Image #}
            {% if latestNote.header.featured_image %}
                <div class='notes--item__full--image'>
                    {{ latestNote.media[latestNote.header.featured_image].cropResize(900).html('', latestNote.title|escape)}}
                </div>
            {% endif %}
            
        </div>

        {# POST 2 ... n: SMALL #}
        {% for p in page.collection.slice(1,100) %}
            <div class='notes--item__list'>

                <a href='{{p.url}}' class='notes--item__list--link'></a>

                <div class='notes--item__list--text'>

                    {# Meta #}
                    <div class='notes--item__list--text--meta'>
                        <div class='notes--item__list--text--meta--date'>{{ p.date|date('Y-m-d') }}</div>
                        
                        {% if p.header.author %}
                         <div class='notes--item__list--text--meta--author'>
                            {% for author in p.header.author %}
                                {{ page.find(author).title }}{% if loop.length - loop.index == 1 %} & {% elseif loop.length - loop.index > 1%},{% endif %}
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    {# Title #}
                    <h1 class='notes--item__list--text--title'>{{p.title}}</h1>

                </div>

                <div class='notes--item__list--image'>
                    {{ p.media[p.header.featured_image].cropZoom(200, 200).html('', p.title|escape)}}
                </div> 

                {# Tags #}
                <div class='notes--item__list--tags'>
                    {% for tag in p.taxonomy.tag %}
                        <a href="{{ base_url }}/filter/tag:{{ tag }}" class="notes--item__list--tags--item">{{ tag }}</a>
                    {% endfor %}
                </div>
                
            </div>

            {# Replies #}
            {% for r in p.children %}
                {# Reply #}
                <div class='notes--item__reply'>

                    <a href='{{r.url}}' class='notes--item__list--link'></a>

                    {# Icon #}
                    <div class='icon'>
                        <div>
                            {# <div>In reply</div> #}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right">
                                <polyline points="15 10 20 15 15 20"></polyline>
                                <path d="M4 4v7a4 4 0 0 0 4 4h12"></path>
                            </svg>
                        </div>
                    </div>

                    <div class='inner-reply'>

                        {# Text #}
                        <div class='text'>
                        
                            {# Date #}
                            <div class='date'>{{ r.date|date('Y-m-d') }}</div>

                            {# Author #}
                            {% if r.header.author %}
                                <div class='author'>
                                    {% for author in r.header.author %}
                                        {{ page.find(author).title }}{% if loop.length - loop.index == 1 %} & {% elseif loop.length - loop.index > 1%},{% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {# Title #}
                            <div class='title'>{{r.title}}</div>
                        </div>

                        <div class='image'>
                            {{ r.media[r.header.featured_image].cropZoom(140, 140).html('', r.title|escape)}}
                        </div> 
                                    
                    </div>

                </div>
            {% endfor %}

        {% endfor %}

    {% endif %}

    <div class='notes--item notes--item__more'>
        <div class='notes--item__more--button'>Load more</div>
    </div>

</div>
{% endblock %}
