{% extends 'global/base.html.twig' %}

{% block content %}
    <div class="search-list">

        {# HEADER :: SEARCH #}
        {% set count = search_results ? search_results.count : 0 %}
        <div class='header'>
            Search: {{  query }} ({{  count }})
        </div>

        {% for p in search_results %}
            <div href='{{p.url}}' class='item small'>

                {# LINK OVERLAY :: SEARCH #}
                <a href='{{p.url}}' class='link'></a>

                {# TEXT :: SEARCH #}
                <div class='text'>

                    {# META :: SEARCH #}
                    <div class='meta'>

                        {# DATE :: SEARCH #}
                        <div class='date'>{{ p.date|date('Y-m-d') }}</div>
            
                        {# AUTHOR :: SEARCH #}
                        {% if p.header.author and p.header.author|length > 0 %}
                            {% for author in p.header.author %}
                                <div class='author'>{{ page.find(author).title }}</div>
                            {% endfor %}
                        {% endif %}

                        {# PROVIDER :: SEARCH #}
                        {% if p.header.provider_name %}
                            <div class='provider'>{{ p.header.provider_name }}</div>
                        {% endif %}

                    </div>
                    
                    {# TITLE :: SEARCH #}
                    <h1 class='title'>{{p.title}}</h1>

                </div>

                {# IMAGE :: SEARCH #}
                <div class='image'>
                    {% if p.template == 'single-feed' %}
                        {% if p.header.featured_image %}
                            {{ p.media[p.header.featured_image].cropZoom(200, 200).html('', p.title|escape)}}
                        {% else %}
                            <img src='{{ p.header.external_image }}'>
                        {% endif %}
                    {% else %}
                        {{ p.media[p.header.featured_image].cropZoom(200, 200).html('', p.title|escape)}}
                    {% endif %}
                </div>   

                {# TAGS :: SEARCH #}
                <div class='tags'>
                    {% for tag in p.taxonomy.tag %}
                        <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
                    {% endfor %}
                </div>
                
            </div>
        {% endfor %}

    </div>

{% endblock %}
