{% extends 'global/base.html.twig' %}

{% block content %}
  <main>

    <article class="single-note">

      {# TOP #}
      <div class="single-note--top">

        {# Text #}
        <div class='single-note--top--text'>

          {# DATE #}
          <div class='single-note--top--text--date'>{{ page.date|date('Y-m-d') }}</div>

          {# SUBPROJECT #}
          {% if page.header.subproject %}
            <div class='single-note--top--meta--subproject'>
              <a href='{{ base_url }}{{ page.header.subproject }}' class='single-note--top--meta--subproject--link'>{{ page.find(page.header.subproject).title }}</a>
            </div>
          {% endif %}
        
          {# TAGS #}
          {% if page.taxonomy.tag %}
            <div class='single-note--top--meta--tags'>
              {% for tag in page.taxonomy.tag %}
                <a href="{{ base_url }}/filter/tag:{{ tag }}" class="single-note--top--meta--tags--item">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}

          {# Title #}
          <h1 class='single-note--top--text--title'>{{page.title}}</h1>

          {# Author #}
          {% if page.header.author %}

            {% if page.header.author is iterable %}

              {% for author in page.header.author %}
                {% set authorPost = page.find(author) %}
                <a href='{{ base_url }}{{ author }}' class='single-note--top--text--author'>
                  <div class='single-note--top--text--author--image'>
                    {{ authorPost.media[authorPost.header.featured_image].cropZoom(100,100).grayscale().html('', p.title|escape)}}
                  </div>   
                  <div class='single-note--top--text--author--name'>
                    {{ authorPost.title }}
                  </div>
                </a>
              {% endfor %}

            {% else %}

              {% set authorPost = page.find(page.header.author) %}
              <a href='{{ base_url }}{{ page.header.author }}' class='single-note--top--text--author'>
                <div class='single-note--top--text--author--image'>
                  {{ authorPost.media[authorPost.header.featured_image].cropZoom(100,100).grayscale().html('', p.title|escape)}}
                </div>   
                <div class='single-note--top--text--author--name'>
                  {{ authorPost.title }}
                </div>
              </a>            

            {% endif %}

          {% endif %}


        </div>

        {# Meta #}
        <div class='single-note--top--meta'>
          {# REPLIES #}
          {% if  page.children|length > 0 %}
            <div class='single-note--main--end--related replies'>
              <div class='single-note--main--end--related--header'>In reply to this post</div>
              {% for replyPost in page.children %}
                <a href='{{replyPost.url}}' class='single-note--main--end--related--item'>

                  {# IMAGE #}
                  <div class='single-note--main--end--related--item--image'>
                    {{ replyPost.media[replyPost.header.featured_image].resize(400).html('', replyPost.title|escape)}}
                  </div>

                  {# TITlE #}
                  <div class='single-note--main--end--related--item--title'>{{ replyPost.title }}</div>
                  
                  {# AUTHOR #}
                  {% if replyPost.header.author is iterable %}

                    {% for author in replyPost.header.author %}
                      {% set authorPost = page.find(author) %}
                      <div class='single-note--related--author'>
                        <div class='single-note--related--author--image'>
                          {{ authorPost.media[authorPost.header.featured_image].cropZoom(100,100).grayscale().html('', p.title|escape)}}
                        </div>   
                        <div class='single-note--related--author--name'>
                          {{ authorPost.title }}
                        </div>
                      </div>
                    {% endfor %}

                  {% endif %}

                </a>
              {% endfor %}
            </div>
            {% elseif page.parent.slug != 'blog' %}
              <div class='single-note--main--end--related replies'>
                <div class='single-note--main--end--related--header'>Replies to this post</div>
                <a href='{{page.parent.url}}' class='single-note--main--end--related--item'>

                    {# IMAGE #}
                    <div class='single-note--main--end--related--item--image'>
                      {{ page.parent.media[page.parent.header.featured_image].resize(400).html('', page.parent.title|escape)}}
                    </div>

                    {# TITlE #}
                    <div class='single-note--main--end--related--item--title'>{{ page.parent.title }}</div>
                    
                    {# AUTHOR #}
                    {% if page.parent.header.author is iterable %}

                      {% for author in page.parent.header.author %}
                        {% set authorPost = page.find(author) %}
                        <div class='single-note--related--author'>
                          <div class='single-note--related--author--image'>
                            {{ authorPost.media[authorPost.header.featured_image].cropZoom(100,100).grayscale().html('', p.title|escape)}}
                          </div>   
                          <div class='single-note--related--author--name'>
                            {{ authorPost.title }}
                          </div>
                        </div>
                      {% endfor %}

                    {% endif %}

                  </a>
                </div>
          {% endif %}
        </div>
        

      </div>

      {# MAIN #}
      <div class="single-note--main">

        {# CONTENT #}
        <div class="single-note--main--content">
          {{ page.content }}
        </div>

        <div class="single-note--main--sidebar">

          {# RELATED #}
          {% if page.header.related %}
            <div class='single-note--main--end--related related'>
                <div class='single-note--main--end--related--header'>Related blog posts</div>
                {% for related in page.header.related %}
                  {% set relatedPost = page.find(related) %}
                  <a href='{{relatedPost.url}}' class='single-note--main--end--related--item'>
                    <div class='single-note--main--end--related--item--image'>
                      {{ relatedPost.media[relatedPost.header.featured_image].resize(400).html('', relatedPost.title|escape)}}
                    </div>
                    <div class='single-note--main--end--related--item--title'>{{ relatedPost.title }}</div>

                    {# AUTHOR #}
                    {% if relatedPost.header.author is iterable %}
                      {% for author in relatedPost.header.author %}
                        {% set authorPost = page.find(author) %}
                        <div class='single-note--related--author'>
                          <div class='single-note--related--author--image'>
                            {{ authorPost.media[authorPost.header.featured_image].cropZoom(100,100).grayscale().html('', p.title|escape)}}
                          </div>   
                          <div class='single-note--related--author--name'>
                            {{ authorPost.title }}
                          </div>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </a>
                {% endfor %}
            </div>
          {% endif %}

        </div>
        
      </div>
      
    </article>

  </main>
{% endblock %}