{% extends 'global/base.html.twig' %}

{% block content %}
  <main>

    <article class="single-note">

      {# TOP #}
      <div class="top">

        {# TEXT :: CURRENT POST #}
        <div class='text'>

          {# DATE :: CURRENT POST #}
          <div class='date'>{{ page.date|date('Y-m-d') }}</div>

          {# SUBPROJECT :: CURRENT POST #}
          {% if page.header.subproject %}
            <div class='subproject'>
              <a href='{{ base_url }}{{ page.header.subproject }}' class='link'>{{ page.find(page.header.subproject).title }}</a>
            </div>
          {% endif %}
        
          {# TAGS :: CURRENT POST #}
          {% if page.taxonomy.tag %}
            <div class='tags'>
              {% for tag in page.taxonomy.tag %}
                <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}

          {# TITLE :: CURRENT POST #}
          <h1 class='title'>{{page.title}}</h1>

          {# AUTHOR :: CURRENT POST #}
          {% if page.header.author %}
            {% for author in page.header.author %}
              {% set authorPost = page.find(author) %}
              <a href='{{ base_url }}{{ author }}' class='author'>
                <div class='image'>
                  {{ authorPost.media[authorPost.header.featured_image].cropZoom(100,100).grayscale().html('', p.title|escape)}}
                </div>   
                <div class='name'>
                  {{ authorPost.title }}
                </div>
              </a>
            {% endfor %}
          {% endif %}

        </div>

        {# META :: CURRENT POST #}
        <div class='meta'>
          {# REPLIES #}
          {% if page.children|length > 0 %}
            {# :: REPLY  #}
            <div class='replies'>

              {# HEADER :: REPLY #}
              <div class='header'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right icon">
                    <polyline points="15 10 20 15 15 20"></polyline>
                    <path d="M4 4v7a4 4 0 0 0 4 4h12"></path>
                </svg> Read reply
              </div>

              {% for replyPost in page.children %}
                <a href='{{replyPost.url}}' class='reply'>

                  {# IMAGE :: REPLY #}
                  <div class='image'>
                    {{ replyPost.media[replyPost.header.featured_image].cropZoom(260, 200).html('', replyPost.title|escape)}}
                  </div>

                  {# AUTHOR :: REPLY  #}
                  {% if replyPost.header.author is iterable %}

                      <div class='author'>
                        <div class='name'>
                          {% for author in replyPost.header.author %}
                            {{ page.find(author).title }}{% if loop.length - loop.index == 1 %} & {% elseif loop.length - loop.index > 1%},{% endif %}
                          {% endfor %}
                        </div>
                      </div>

                  {% endif %}

                  {# TITlE :: REPLY  #}
                  <div class='title'>{{ replyPost.title }}</div>

                </a>
              {% endfor %}
            </div>

          {% elseif page.parent.slug != 'blog' %}
            {# :: IN-REPLY-TO #}
            <div class='replies'>
                
                {# HEADER :: IN-REPLY-TO #}
                <div class='header'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right icon">
                    <polyline points="15 10 20 15 15 20"></polyline>
                    <path d="M4 4v7a4 4 0 0 0 4 4h12"></path>
                </svg> Read parent post
                </div>
                
                <a href='{{page.parent.url}}' class='reply'>

                    {# IMAGE :: IN-REPLY-TO #}
                    <div class='image'>
                      {{ page.parent.media[page.parent.header.featured_image].cropZoom(260, 160).html('', page.parent.title|escape)}}
                    </div>

                    {# AUTHOR :: IN-REPLY-TO #}
                    {% if page.parent.header.author is iterable %}
                      <div class='author'>
                        {% for author in page.parent.header.author %}
                          {{ page.find(author).title }}{% if loop.length - loop.index == 1 %} & {% elseif loop.length - loop.index > 1%},{% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}

                    {# TITlE #}
                    <div class='title'>{{ page.parent.title }}</div>

                  </a>
                </div>
          {% else %}
            {# IMAGE #}
            <div class='featured-image'>
              {{ page.media[page.header.featured_image].cropResize(600,600).html('', page.title|escape)}}
            </div> 
          {% endif %}
        </div>
        
      </div>

      {# MAIN #}
      <div class="main">

        {# CONTENT #}
        <div class="content">
          {{ page.content }}
        </div>

        {# SIDEBAR #}
        <div class="sidebar">

          {# RELATED #}
          {% if page.header.related %}
            <div class='related'>

              {# HEADER :: RELATED #}
              <div class='header'>Related blog posts</div>

              {% for related in page.header.related %}
                {% set relatedPost = page.find(related) %}
                <a href='{{relatedPost.url}}' class='item'>

                  {# IMAGE :: RELATED #}
                  <div class='image'>
                    {{ relatedPost.media[relatedPost.header.featured_image].cropZoom(260, 200).html('', relatedPost.title|escape)}}
                  </div>

                  {# AUTHORS :: RELATED #}
                  {% if relatedPost.header.author is iterable %}
                    <div class='author'>
                      {% for author in relatedPost.header.author %}
                        {{ page.find(author).title }}{% if loop.length - loop.index == 1 %} & {% elseif loop.length - loop.index > 1%},{% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {# TITLE :: RELATED #}
                  <div class='title'>{{ relatedPost.title }}</div>

                </a>
              {% endfor %}
            </div>
          {% endif %}

        </div>
        
      </div>

      {# END #}
      {% if page.header.related %}
        <div class='end'>
          
          {# RELATED :: END #}
          <div class='related'>
          
            {# HEADER ::  RELATED :: END #}
            <div class='header-container'>
              <div class='header'>Related blog posts</div>
            </div>

            {% for related in page.header.related %}
              {% set relatedPost = page.find(related) %}
              <a href='{{relatedPost.url}}' class='item'>

                {# IMAGE ::  RELATED :: END #}
                <div class='image'>
                  {{ relatedPost.media[relatedPost.header.featured_image].cropZoom(400,300).html('', relatedPost.title|escape)}}
                </div>

                {# AUTHORS ::  RELATED :: END #}
                {% if relatedPost.header.author is iterable %}
                  <div class='author'>
                    {% for author in relatedPost.header.author %}
                      {{ page.find(author).title }}{% if loop.length - loop.index == 1 %} & {% elseif loop.length - loop.index > 1%},{% endif %}
                    {% endfor %}
                  </div>
                {% endif %}

                {# TITLE ::  RELATED :: END #}
                <div class='title'>{{ relatedPost.title }}</div>

              </a>
            {% endfor %}
          
          </div>

        </div>
      {% endif %}

    </article>

  </main>
{% endblock %}