{% extends 'global/base.html.twig' %}

{% block content %}
  <main>

    <article class="single-publication">

      {# TOP #}
      <div class="top">

        {# TEXT #}
        <div class='text'>
          {# DATE #}
          <div class='date'>{{ page.date|date('Y-m-d') }}</div>
          
          {# PUBLISHER #}
          <div class='provider'>{{ page.header.publisher }}</div>

          {# TITLE #}
          <h1 class='title'>{{page.title}}</h1>

          {# AUTHORS #}
          {% if page.header.authors is iterable %}
            {% for author in page.header.authors %}
              {% if author.external %}
                <div class='author'>
                  <div class='image'>
                  </div>   
                  <div class='name'>
                    {{ author.external }}
                  </div>
                </div>
              {% elseif author.internal %}
                {% set authorPost = page.find(author.internal) %}
                <a href='{{ base_url }}{{ author.internal }}' class='author'>
                  <div class='image'>
                    {{ authorPost.media[authorPost.header.featured_image].cropResize(300).grayscale().html('', p.title|escape)}}
                  </div>   
                  <div class='name'>
                    {{ authorPost.title }}
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        {# Meta #}
        <div class='meta'>
          {{ page.media[page.header.featured_image].cropResize(900).html('', latestNote.title|escape)}}
        </div>

      </div>

      {# MAIN #}
      <div class="main">

        {# CONTENT #}
        <div class="content">

          {# LINKS #}
          <p>
            {% if page.header.link %}
              <a href='{{page.header.link}}' target=_blank class='exit'>
              Go to {{ page.header.publisher }}
              <svg xmlns="http://www.w3.org/2000/svg" class='icon' width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
              </a>
            {% endif %}


            {% if page.header.pdf %}
              <a href='/output/{{page.slug}}/{{page.header.pdf}}' target=_blank class='pdf'>
              Open pdf
              <svg xmlns="http://www.w3.org/2000/svg" class='icon' width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
              </a>
            {% endif %}
          </p>

          {# DESCRIPTION #}
          <p>{{page.header.description}}</p>
          
        </div>
        
      </div>
      
    </article>

  </main>
{% endblock %}