{% extends 'global/base.html.twig' %}

{% block content %}
  <main>

    <article class="single-news">

      {# TOP #}
      <div class="top">

        {# TEXT :: TOP #}
        <div class='text'>
          {# DATE :: TOP #}
          <div class='date'>{{ page.date|date('Y-m-d') }}</div>

          {# SUBPROJECT :: TOP #}
          {% if page.header.subproject %}
            <div class='subproject'>
              <a href='{{ base_url }}{{ page.header.subproject }}' class='link'>{{ page.find(page.header.subproject).title }}</a>
            </div>
          {% endif %}

          {# TITLE :: TOP #}
          <h1 class='title'>{{page.title}}</h1>

          {# TAGS #}
          {% if page.taxonomy.tag|length > 0 %}
            <div class='tags'>
              {% for tag in page.taxonomy.tag %}
                <a href="{{ base_url }}/filter/tag:{{ tag }}" class="tag">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}

        </div>

      </div>

      {# MAIN #}
      <div class="main">

        {# CONTENT #}
        <div class="content">
          {{ page.content }}
        </div>
        
      </div>
      
    </article>

  </main>
{% endblock %}